

/* main */

.main-contents {
    width: 37.375rem;
    width: 100%;
    padding: 2.125rem 0 2.5rem 0 ;

    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-contents{
    background-color: var(--button);
    border-radius: 0.625rem;
    padding: 50px;
    margin: 0 0.625rem;
}

.container-contents .title{
    text-align: center;
    font-size: 1.875rem;
    color: var(--background);
}

.container-contents label{
    display: block;
    padding-bottom: 0.75rem;
    color: var(--background);
}

.container-contents #mensagem_label{
    margin-top: 1rem;
}


.container-contents select{
    /* width:  90%; */
    font-size: 1rem;
    margin: 0 0.625rem;
    height: 2.25rem;
    border: none;
    border-radius: 0.625rem;
}

.container-contents select:focus{
    visibility: hidden;
}

.container-contents textarea{
    outline: 0;
    text-indent: 0.625rem;
    resize: none;
    
    width:  90%;
    height: 150px;
    
    border-radius: 0.625rem;
    margin: 0 0.625rem;
}

.container-contents textarea:focus-within, .container-contents select:focus-within{
    visibility: visible;
    border: 3px solid var(--button-hover);
}

.container-contents .enviar{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1.5rem 0 0 0;
}

.container-contents button{
    max-width: 12.5rem;
    width: 100%;
    margin: 0 10px;
    padding: 1rem 0;
    
    align-self: center;

    background-color: var(--button);
    color: var(--white);

    border: 0.2rem solid var(--background-container);
    border-radius: 8px;
    cursor: pointer;
}

.container-contents button:hover{
    background-color: var(--button-hover);
    border-color: var(--button-hover);
}

.error{
    color: var(--background);
}

.error .titulo{
    text-align: center;
    font-size: 32px;
    margin-bottom: 2rem;
}

.error .button-voltar{
    text-align: center;

    max-width: 12.5rem;
    width: 100%;
    margin: 0 10px;
    padding: 1rem 0;
    
    border: 0.0625rem solid var(--button);
    border-radius: 8px;
    cursor: pointer;

    margin: 1rem auto 0 auto;
    font-size: 1.3rem;
}

.error .button-voltar a{
    color: var(--background);
}

.error .text {
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.error .text p{
    font-size: 1.3rem;
    text-align: center;
}

.error .button-voltar:hover{
    border: 1px solid var(--words);
    background-color: var(--words);
}

@media (max-width: 23.125rem){
    .container-content{
        padding: 30px 5px;
    }    
}