body{
    background-color: var(--button);
}

#profile-edit{
    border-radius: 8px;
    max-width: 200px;
    width: 100%;
}


.error{
    color: var(--background);
}

.error .titulo{
    text-align: center;
    font-size: 32px;
    margin-bottom: 2rem;
}

.error .button-voltar{
    text-align: center;

    max-width: 12.5rem;
    width: 100%;
    margin: 0 10px;
    padding: 1rem 0;

    background-color: var(--button);
    
    border: 0.0625rem solid var(--button);
    border-radius: 8px;
    cursor: pointer;

    margin: 1rem auto 0 auto;
    font-size: 1.3rem;
}

.error .button-voltar a{
    color: var(--background);
}

.error .text {
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.error .text p{
    font-size: 1.3rem;
    text-align: center;
}

.error .button-voltar:hover{
    border: 1px solid var(--words);
    background-color: var(--words);
}

